@keyframes ksa-fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes ksa-from_left {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes ksa-from_right {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes ksa-from_bottom {
    from {
        opacity: 0;
        transform: translateY(60px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes ksa-from_top {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes ksa-scale_up {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes ksa-scale_x {
    from {
        opacity: 0;
        transform: scaleX(0);
    }

    to {
        opacity: 1;
        transform: scaleX(1);
    }
}

.ksa-element {
    opacity: 0;
}

.ksa-element.ksa-scale_x {
    transform-origin: left;
}

.ksa-element.ksa-active.ksa-fade {
    animation: ksa-fade 0.8s ease forwards;
}

.ksa-element.ksa-active.ksa-from_left {
    animation: ksa-from_left 0.8s ease forwards;
}

.ksa-element.ksa-active.ksa-from_right {
    animation: ksa-from_right 0.8s ease forwards;
}

.ksa-element.ksa-active.ksa-from_bottom {
    animation: ksa-from_bottom 0.8s ease forwards;
}

.ksa-element.ksa-active.ksa-from_top {
    animation: ksa-from_top 0.8s ease forwards;
}

.ksa-element.ksa-active.ksa-scale_up {
    animation: ksa-scale_up 0.8s ease forwards;
}

.ksa-element.ksa-active.ksa-scale_x {
    animation: ksa-scale_x 0.8s ease forwards;
}